[submodule "dependencies/riscv-tests"]
	path = dependencies/riscv-tests
	url = https://github.com/riscv/riscv-tests
[submodule "dependencies/riscv-compliance"]
	path = dependencies/riscv-compliance
	url = https://github.com/riscv/riscv-compliance
[submodule "dependencies/coremark"]
	path = dependencies/coremark
	url = https://github.com/eembc/coremark
[submodule "dependencies/riscv-arch"]
	path = dependencies/riscv-arch
	url = https://github.com/riscv/riscv-arch-test
